# Part two

In [1]:
import pandas as pd
import numpy as np

Starting with importing the dataframe from Part one of this assignment. Setting the index to "PostalCode"

In [2]:
task1_data_csv = "Toronto.task1_df.csv"
df = pd.read_csv(task1_data_csv).set_index('PostalCode')
df.head()

                     Borough                      Neighborhood
PostalCode
M3A               North York                         Parkwoods
M4A               North York                  Victoria Village
M5A         Downtown Toronto         Harbourfront, Regent Park
M6A               North York  Lawrence Heights, Lawrence Manor
M7A             Queen's Park                      Queen's Park

Importing the geospatial data from the csv file given in the assignment description. 
Changing the name of the PostalCode Column.
Setting "PostalCode" as index for dataframe.

In [8]:
geospatial_data_csv = "http://cocl.us/Geospatial_data"
!wget -q -O 'toronto_m.geospatial_data.csv' geospatial_data_csv
geospatial_data = pd.read_csv(geospatial_data_csv)
geospatial_data.columns = ['PostalCode', 'Latitude', 'Longitude']
geospatial_data = geospatial_data.set_index('PostalCode')
geospatial_data.head()

'wget' is not recognized as an internal or external command,
operable program or batch file.

             Latitude  Longitude
PostalCode
M1B         43.806686 -79.194353
M1C         43.784535 -79.160497
M1E         43.763573 -79.188711
M1G         43.770992 -79.216917
M1H         43.773136 -79.239476

In [9]:
geospatial_data.shape

(103, 2)

### Combining the two dataframes (df and geospatial_data)

In [10]:
complete_df = df.join(geospatial_data)
complete_df.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
M7A,Queen's Park,Queen's Park,43.662301,-79.389494

In [11]:
complete_df.shape

(103, 4)

Saving the new dataframe to a seperate csv file

In [12]:
complete_df.to_csv('complete_df_task2.csv',index=False)